@import "tailwindcss";

:root {
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-sans);
}

.header {
	background: var(--foreground);
	color: var(--background);
	padding: 1rem;
	text-align: center;
}

.nav {
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.nav-link {
	color: var(--background);
	text-decoration: none;
	font-weight: bold;
}

.nav-link:hover {
	text-decoration: underline;
}

.footer {
	background: var(--foreground);
	color: var(--background);
	padding: 1rem;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
}
